@import "margin";
@import "range";
@import "messages";
@mixin flex() {
	display: -webkit-box;      
	display: -moz-box;         
	display: -ms-flexbox;      
	display: -webkit-flex;     
	display: flex;             
}
@mixin flexProps1() {
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	align-items:flex-start;
}
.flex-center{
	@include flex();
	align-items: center;
	justify-content:center;
}
// .help-button-container {
// 	border-radius:5px;
// 	button{
// 		border : none;
// 		outline : none;
// 		background : none; 
// 	}
// }
// #gh-button, #ph-button{
// 	color : #444;
// 	width: 100%;
// 	height: 100%;
// 	text-align:center;
// 	vertical-align:middle;
// 	h2{
// 		margin:0;
// 		color:white;
// 	}
// }
// .ph-b-cont{
// 	background: #3CC;
// }
// .gh-b-cont{
// 	background: #F6BA3A;
// }
// .pair-box{
// 	@include flex;
// 	@include flexProps1;
// 	padding:10px;
// 	margin-bottom:20px;
// 	border-radius:5px;
// 	color:white;
// 	min-height:100px;
// }
// .pair-box.ph{
// 	@extend .pair-box;
// 	background:#33cccc;
// }
// .pair-box.gh{
// 	@extend .pair-box;
// 	background:#AE9572;
// }
// .activity-box{
// 	// @include flex;
// 	// @include flexProps1;
// 	@extend .pair-box;	
// 	display:block;
// 	min-height: 200px;
// }
table.receipt-table{
	width: 100%;
	tr{
		vertical-align: top;
	}
}
.inline-block{
	display:inline-block;
}
// .h-box{
// 	border-radius:5px;
// }
// .h-header{
// 	padding: 0 15px 10px;
// 	background: rgba(0, 0, 0, 0.08);
// 	border-radius: 5px 5px 0 0;
// 	position: relative;
// }
// .ph-body{
// 	padding:10px 15px;
// }

// .ph-box{
// 	@extend .h-box;
// 	background-color:#fafafa;
// 	.ph-body{
// 		padding:10px 15px;
// 	}
// }
// .h-icon{
// 	font-size: 2.4em;
// 	color:#33CCCC;
// 	display: inline-block;
// 	vertical-align: middle;
// }
// .h-title{
// 	vertical-align: middle;
// 	margin-left:10px;
// 	display: inline-block;
// }
// .gh-box{
// 	@extend .ph-box;
// 	.gh-body{
// 		@extend .ph-body;
// 	}
// }
// .gh-icon{
// 	position: absolute;
// 	top:15px;
// 	right:10px;
// 	color:#E7AF17;
// }
// .modal-mask {
//   position: fixed;
//   z-index: 9998;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, .5);
//   display: table;
//   transition: opacity .3s ease;
// }

// .modal-wrapper {
//   // display: table-cell;
//   // vertical-align: middle;
// }

// .modal-container {
//   width: 300px;
//   margin: 0px auto;
//   padding: 20px 30px;
//   background-color: #fff;
//   border-radius: 2px;
//   box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
//   transition: all .3s ease;
//   font-family: Helvetica, Arial, sans-serif;
// }

// .modal-header h3 {
//   margin-top: 0;
//   color: #42b983;
// }

// .modal-body {
//   margin: 20px 0;
// }

// .modal-default-button {
//   float: right;
// }

// .filter.nav-pills > li.active > a {
//     color: #fff !important;
//     background-color: #3097D1 !important;
// }

#ticketsTable{
	th{
		text-align:center;
	}
}
.label.label{
	&-Open{
		background-color: #63E31D!important;
	}
	&-In-Progress{
		background-color: #FD971F!important;
	}
	&-Closed,&-dark{
		background-color: #2A2B2A!important;
	}
}
.clickable-row:hover{
	cursor: pointer;
}
table.dataTable tfoot th, table.dataTable tfoot td{
	 border-top: 1px solid #828282;
}
.box{overflow: hidden;}
a.no-hover:hover{
	background-color:none;
}















.direct-chat-text{
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #ddd;
    border: 1px solid #F0F0F0;
    margin: 5px 0 0 50px;
    color: #444444;
    &.mine{
    	background: #CADBFF;
    }
    &:before{
		border-width: 6px;
	    margin-top: -6px;
    }
    &:after{
		border-width: 5px;
	    margin-top: -5px;
    }
    &:after,&:before{
	    position: absolute;
	    right: 100%;
	    top: 15px;
	    border: solid transparent;
	    border-right-color: #d2d6de;
	    content: ' ';
	    height: 0;
	    width: 0;
	    pointer-events: none;
    }
}
.wide-button{
	width:100%;
	border: none;
	text-align: left;
	outline: none;
	background: none;
}

ul.alternate li:nth-child(even){
	background: rgba(0,0,0,0.05);
}
table.spacious tr{
	height : 50px !important;
	td {
		vertical-align: middle !important;
	}
}
.portlet{
	border-radius:3px !important;
}
a.attachment {
    display: inline-block;
    background: #f3ebe0;
    border: 1px solid #ede0ce;
    border-radius: 2px !important;
    padding: 5px;
    font-size: 0.9em;
    margin-right: 5px;
    color: goldenrod;
    border-collapse: separate;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	padding:0 !important;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 12px 10px;
}
.help-button{
	border:none;
	&:hover{
		cursor: pointer;
	}
}
.help-box{
	border: 1px solid #E9E9E9;
	border-radius:4px;
	padding:10px;
	margin-bottom:20px;
	.help-title{
		font-weight: bold;
		font-size: 1.06em;
	}
}
.transaction{
	border: 1px solid #E9E9E9;
	border-radius:4px;
	padding:10px;
	margin-bottom:20px;
	.trn-id{
		// font-weight: bold;
		font-size: 1.3em;
		color:#2178BB;
	}
	time.expiry{
		border : 1px solid #ccc;
		border-radius:3px;
		padding: 7px;
		margin-left:5px;	
	}
	.bank{
		background: rgba(0,0,0,0.07);
		border-radius:5px !important;
		padding:6px 10px;
		font-size: 0.8em;
		font-weight: bold;
		display: inline-block;
	}
	&.paying{
		background: beige;
	}
	&.receiving{
		background: ghostwhite;
	}
}
.goldenrod{
	background: goldenrod !important;
}
@media (min-width: 768px){
	.modal-dialog {
	    width: 700px;
	    margin: 30px auto;
	}
}